ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 37vh;
  margin: 0.5rem;
  padding: 0.5rem;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  width: 12rem;
  height: 15rem;
  border-radius: 40px;
  margin: 0.2rem;
}
