form {
  display: flex;
  justify-content: center;
}

input {
  font-family: "poke-font", sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
  height: 2.5rem;
  width: 25rem;
  border-radius: 25px;
  margin: 0.5rem;
  border: none;
  background-color: red;
  color: yellow;
}

input::placeholder {
  color: yellow;
}

input:focus {
  outline: none;
}